<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To do list</title>
</head>
<body>
<a href="/add">Add a task</a><br/>
<table>
    <tr>
        <th>Task</th>
        <th>Due Date</th>
        <th>Priority</th>
        <th>Actions</th>
    </tr>
    <tr th:each="toDo : ${tasks}">
        <td th:text="${toDo.taskName}"></td>
        <td th:text="${toDo.dueDate}"></td>
        <td th:text="${toDo.priority}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${toDo.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${toDo.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${toDo.id})}">Delete</a>
        </td></tr>
</table>
</body>
</html>